* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
}
ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 24px;
}
.matchCart {
  margin-top: 2px;
  width: 400px;
  margin: auto;
  border: 2px solid #02aff0;
  padding: 5px;
  transition: 0.2s ease-in;
  cursor: pointer;
}
.matchCart:hover {
  background-color: #02aff0;
  transform: translateX(2%);
}
.MatchName {
  line-height: 15px;
  padding: 3px;
}
.searchform {
  margin-top: 18px;
}
.appinput {
  padding: 6px 16px;
  min-width: 200px;
  max-width: 1920px;
  font-size: 15px;
}
.submitinput {
  padding: 6px 16px;
  font-size: 15px;
  margin-left: 6px;
  background-color: #02aff0;
  border: 2px solid #02aff0;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
}
.submitinput:hover {
  background-color: #fff;
  color: #02aff0;
}
.submitbutton {
  padding: 6px 16px;
  font-size: 15px;
  margin-left: 32px;
  margin-bottom: 15px;
  background-color: #02aff0;
  border: 2px solid #02aff0;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
}
.submitbutton:hover {
  background-color: #fff;
  color: #02aff0;
}
.recipes-conatiner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
/*d8edf5 eef8fc*/
.recipecart {
  border-radius: 5px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.7);
  background-color: #f6fcff;
  margin: 16px;
  overflow: hidden;
  width: 300px;
  text-align: center;
}
.recipeimage {
  width: 90%;
  object-fit: cover;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}
.submitbutton {
  text-align: center;
  margin-right: 40px;
}
.recipename {
  text-align: center;
}
.recipes-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.options {
  padding: 7px 8px;
  margin-left: 6px;
  border-radius: 4px;
  border: 2px solid #02aff0;
}
.spinner {
  text-align: center;
  margin-top: 250px;
}
.Pagination {
  margin-top: 10px;
}
.page-link:focus {
  color: black;
}

@media (max-width: 812px) {
  .recipes {
    display: block;
  }
  .options {
    margin-top: 15px;
    margin-left: 25px;
    padding: 7px 14px;
  }
  .searchform {
    margin-left: 40px;
  }
  .submitinput {
    margin: 0;
  }
  .submitbutton {
    margin-left: 25px;
  }
  .title {
    font-size: 30px;
  }
}
@media (max-width: 926px) {
  .recipes {
    display: block;
  }
  .options {
    margin-top: 15px;
    margin-left: 75px;
    padding: 7px 14px;
  }
  .searchform {
    margin-left: 40px;
  }
  .submitinput {
    margin: 0;
  }
  .submitbutton {
    margin-left: 25px;
  }
  .title {
    font-size: 30px;
  }
  .cart {
    margin-top: -50px;
    z-index: 1;
    background-color: #eef8fc;
  }
  .matchCart {
    width: 200px;
  }
  .Pagination {
    margin-right: 20px;
  }
}
